@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.herosection {
    background-color: #f1f1f1;
}

.img1 img {
    height: 100px;
    width: 400px;
}

.group img {
    position: absolute;
    top: 20%;
    left: 80%;
    height: 400px;
}

.content {
    position: absolute;
    top: 25%;
    left: 15%;
}

.content1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    color: #6B889D;
}

.content2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    width: 900px;

    color: #2B3F4E;
}

.content3 {
    align-items: flex-start;
    padding: 13px 35px;
    gap: 10px;
    margin-top: 20px;

    background: #CDAA64;
    border-radius: 50px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    border: none;

    color: #000000;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 80px;
    background: #2B3E4C;
    border-radius: 6.85px;
}
