@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* defines two equal columns */
    grid-gap: 10px; /* adds a 10px gap between the columns */
    background: white;
  }
  .right_wrapper{
    margin-top:50px;
    width:auto;
    height:600px;
    background:linear-gradient(270deg, #2A3842 2.95%, #2D485B 100%);
    border-top-left-radius: 20px;
    padding-top:30px;
  }

  .img_payment{
    width:500px;
    margin-left: 150px;
    margin-top: 150px;
    justify-self: center;
    height:auto
  }
