@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* defines two equal columns */
  grid-gap: 6rem;
  /* adds a 10px gap between the columns */
  background: white;
  align-items: end;
}
.left_wrapper {
  margin-top: 8rem;
  margin-left: 1.5rem;
  height: 100%;
  width: 75%;
}
.right_wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 70%;
  padding-bottom: 3rem;
  padding-left: 3rem;
  width: 58%;
  background: linear-gradient(270deg, #2a3842 2.95%, #2d485b 100%);
  border-top-left-radius: 3rem;
  padding-top: 3rem;
}

.doctor_history_content {
  padding-top: 1.2rem;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2rem;
  color: #cdaa64;
}

.add_doctor_info {
  display: inline;
  margin-top: 30px;
}

.add_text_doctor {
  margin-left: 2rem;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  /* identical to box height */
  color: #ffffff;
}

.add_doctor_name {
  margin-left: 5rem;
  width: 300px;
  height: 35px;

  background: #edf2f9;
  border-radius: 8.48894px;
}

/* Hide the default checkbox */
.submit_button {
  display: inline;
  margin-left: 5rem;
  margin-top: 10px;
  width: 120px;
  background: #cdaa64;
  border-radius: 30px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
