.card {
    background: linear-gradient(270deg, #2A3842 2.95%, #2D485B 100%);
    margin-top: 100px;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin-left: 200px;
}

.img {
    width: 200px;
    padding-left: 100px;
    padding-top: 25px;
}

.id {
    color: white;
    text-align: center;
}

.payment_p {
    margin-top: 32px;
}

.manage_p {
    margin-top: 32px;
}

.general_p {
    margin-top: 32px;
}

.payment_settings {

    color: white;
    border-radius: 5px;
    margin-left: 131px;
    text-decoration-color: #2c3e4c;
    padding-top: 0px;
}

.manage_docters {
    text-decoration: underline;
    text-decoration-color: #2D485A;
    
    color: white;
    border-radius: 5px;
    margin-left: 138px;
    
}

.general_settings {
    padding: 10px;
    background-color: #CDAA64;
    text-decoration-color: #CDAA64;
    color: black;
    border-radius: 5px;
    margin-left: 125px;
}